﻿@{
    ViewData["Title"] = "Profile";
}

<div class="text-center" >
    <h1 class="display-4" style="font-weight:bold">My Profile</h1>

    <div class="card-deck">
        <hr />

        <div class="card" style="width: 350px; height: 400px; display: inline-block; ">
            <div class="row">
                <div class="row-sm-5" style="background-color:darkred; height:250px; padding-top:50px;">
                    <img class="card-img" style="height: 160px; width:160px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/2048px-Windows_10_Default_Profile_Picture.svg.png" alt="profile image">
                </div>
                <div class="row-sm-7" style="background-color:darkred; color:white; height:210px; font-size:large">
                    <div class="card-body">
                        <h5 class="card-title" >Vanessa Renzi</h5>
                        <p class="card-text" >900153627</p>
                        <p class="card-text" >tun32988@temple.edu</p>
                        <p class="card-text" >267-374-4024</p>






                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
