﻿@{
    ViewData["Title"] = "My Project";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bolder">My Project</h1>
    <a href="" style="position:absolute; top:30px; right:30px">
        <i class="bi bi-envelope" style="font-size: 60px;"></i>
    </a>
    <div style="padding-top:30px">
        <img src="https://freeiconshop.com/wp-content/uploads/edd/search-flat.png" width="60px" height="60px" />
        <input type="text" id="txtSearchBar" style="width:400px;border-radius:10px" />
    </div>
</div>
<div style="padding-top:50px">
    <div class ="text-center">
        <label id="lblNotSubmitted" style="font-size:larger">Not Submitted</label>
        <div class="text-center">
            <a href="" id="UnsubmittedtxtOne">
                <i class="bi bi-file-earmark-text" style="font-size: 60px;"></i>
            </a>
            <a href="" id="UnsubmittedtxtTwo">
                <i class="bi bi-file-earmark-text" style="font-size: 60px;"></i>
            </a>
            <a href="" id="UnsubmittedtxtThree">
                <i class="bi bi-file-earmark-text" style="font-size: 60px;"></i>
            </a>
            <a href="" id="UnsubmittedAdd">
                <i class="bi bi-plus-circle" style="font-size: 30px;"></i>
            </a>
        </div>
    </div>
    <div style="padding-top:90px">
        <label id="lblPendingSubmissions" style="font-size:larger;padding-left:280px">Pending Submissions</label>
        <label id="lblApproved" style="font-size:larger;padding-left:350px">Approved Submissions</label>
        <div class="text-start">
            <a href="" id="PendingtxtOne">
                <i class="bi bi-file-earmark-text" style="font-size: 60px;padding-left:280px"></i>
            </a>
            <a href="" id="PendingtxtTwo">
                <i class="bi bi-file-earmark-text" style="font-size: 60px;"></i>
            </a>
            <a href="" id="PendingtxtThree">
                <i class="bi bi-file-earmark-text" style="font-size: 60px;"></i>
            </a>
            <a href="" id="PendingAdd">
                <i class="bi bi-plus-circle" style="font-size: 30px;"></i>
            </a>
            <a href="" id="ApprovedtxtOne" style="padding-left:300px">
                <i class="bi bi-file-earmark-text" style="font-size: 60px;"></i>
            </a>
            <a href="" id="ApprovedtxtTwo">
                <i class="bi bi-file-earmark-text" style="font-size: 60px;"></i>
            </a>
        </div>
    </div>
</div>
