@{
    ViewData["Title"] = "Student Team";
}

<div class="text-center">
    <h1 class="display-4">Team</h1>
    
    <div class="card-deck">
    <hr />
    
        <div class="card" style="width: 500px; height: 250px; display: inline-block; ">
        <div class="row">
            <div class="col-sm-5" style="">
                        <img class="card-img" style="height: 250px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/2048px-Windows_10_Default_Profile_Picture.svg.png" alt="profile image">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">Student Name</h5>
                    <p class="card-text">StudentID</p>
                    <p class="card-text">Student Email</p>
                    <p class="card-text">Student Phone</p>






                    </div>
                </div>
            </div>
        </div>
    </div>
</div>