﻿@{
    ViewData["Title"] = "Admin User";
}

<div class="text-center">
    <h1 class="display-4">Admin Users</h1>
    <a href="/AddUser/Index" style="text-decoration: none;">
        <button style="width:100px;border-radius:15%; background-color:black; color: white">Add User</button>
    </a>
    <div class="card-deck">
        <hr />

        @for (int i = 0; i < 4; i++)
        {
            <div class="card" style="width: 500px; height: 250px; display: inline-block; ">
                <div class="row">
                    <div class="col-sm-5" style="">
                        <img class="card-img" style="height: 200px; width: 200px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/2048px-Windows_10_Default_Profile_Picture.svg.png" alt="profile image">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title">Student Name @(i + 1) </h5>
                            <p class="card-text">StudentID: @(i + 1) </p>
                            <p class="card-text">Student Email</p>
                            <p class="card-text">Student Phone</p>
                        </div>
                        <a href="/EditUser/Index" style="text-decoration: none;">
                            <button style="width:100px;border-radius:15%; background-color:black; color: white">Edit Info</button>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
