@{
    ViewData["Title"] = "Admin Team";
}

<div class="text-center">
    <h1 class="display-4">Admin Team</h1>

    <div class="card-deck">
        <hr />
       
            <div class="card" style="width: 1000px; height: 500px; display: inline-block;">
                <div class="row align-items-center">
                    <div class="col-sm-5 text-center">
                        <embed src="~/pdfs/DataModel.pdf" type="application/pdf" style="width: 145%; height: 500px;">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title">Client Deliverable 1</h5>
                            <p class="card-text">Date Submitted: </p>
                            <p class="card-text">Status: </p>

                            <form asp-controller="AdminTeam" asp-action="Index" method="post">

                            <button type="submit" asp-controller="AdminTeam" asp-action="Index"
                                        class="btn btn-secondary btn-sm">
                                    Approve
                                </button>

                            </form>

                            <br />

                        <form asp-controller="AdminTeam" asp-action="Index" method="post">

                            <button type="submit" asp-controller="AdminTeam" asp-action="Index"
                                        class="btn btn-secondary btn-sm">
                                    Deny
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />

        <div class="card" style="width: 1000px; height: 500px; display: inline-block;">
            <div class="row align-items-center">
                <div class="col-sm-5 text-center">
                    <embed src="~/pdfs/UserStories.pdf" type="application/pdf" style="width: 145%; height: 500px;">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">Client Deliverable 2</h5>
                        <p class="card-text">Date Submitted: </p>
                        <p class="card-text">Status: </p>

                        <form asp-controller="AdminTeam" asp-action="Index" method="post">

                            <button type="submit" asp-controller="AdminTeam" asp-action="Index"
                                    class="btn btn-secondary btn-sm">
                                Approve
                            </button>

                        </form>

                        <br />

                        <form asp-controller="AdminTeam" asp-action="Index" method="post">

                            <button type="submit" asp-controller="AdminTeam" asp-action="Index"
                                    class="btn btn-secondary btn-sm">
                                Deny
                            </button>

                        </form>

                    </div>
                </div>
            </div>
        </div>


        
    </div>
</div>
