@{

    ViewData["Title"] = "Notications";
}


<h1>My Notifications</h1>


<div style="display: flex; padding:5%; width:auto">

    <div style=" background-color:darkred; flex:.10; padding:1%">
        <!-- Inbox link -->
        <h2><a href="#" id="linkInbox" style="color:white">Inbox</a></h2>
        <!-- Unread link -->
        <h2><a href="#" id="linkUnread" style="color:white">Unread</a></h2>
    </div>

    <div class="d-print-grid" style="background-color: darkred; flex:.90; padding:1%; width: auto">

        <!-- Notifications-->
        <div style=" color:white">
            <h4>4/11/24 - Pending Approval - <a href="#" >Data Model - Project Team</a></h4>
        </div>

        <div style="color: goldenrod">
            <h4>4/01/24 - Pending Approval - <a href="/AdminTeam/Index">User Stories - Project Team</a></h4>
            <h4>3/27/24 - Pending Approval - <a href="/AdminTeam/Index">Use Case Diagram (re-submission) - Project Team</a></h4>
            <h4>3/15/24 - Pending approval - <a href="/AdminTeam/Index">Use Case Diagram - Project Team</a></h4>
            <h4>3/01/24 - Pending Approval - <a href="/AdminTeam/Index">Statement of Work - Project Team</a></h4>
            <h4>2/24/24 - Pending Approval - <a href="/AdminTeam/Index">Product Vision Statement - Project Team</a></h4>
            <h4>2/12/24 - Pending Approval -  <a href="/AdminTeam/Index">Interview Questions - Project Team</a></h4>
        </div>

    </div>
</div>