
@{

    ViewData["Title"] = "Notications Admin";
}

<div class="justify-content-lg-start">

    <div>
        <button id="btnCreatAccount">Inbox</button>

        <button id="btnCreatAccount">Unread</button>
    </div>


</div>

<div class="d-print-grid">
    <!-- Notification 1 -->
    <div class="notification">
        <h3>4/11/24</h3>
        <h3>Pending Approval</h3>
        <p>Data Model - Project Team</p>

    </div>

    <!-- Notification 2 -->
    <div class="notification">
        <h3>4/01/24</h3>
        <h3>Pending Approval</h3>
        <p>User Stories - Project Team</p>

    </div>

    <!-- Notification 3 -->
    <div class="notification">
        <h3>3/27/24</h3>
        <h3>Pending Approval</h3>
        <p>Use Case Diagram (re-submission) - Project Team</p>

    </div>

    <!-- Notification 4 -->
    <div class="notification">
        <h3>3/15/24</h3>
        <h3>Pending Approval</h3>
        <p>Use Case Diagram - Project Team</p>

    </div>

    <!-- Notification 5 -->
    <div class="notification">
        <h3>3/01/24</h3>
        <h3>Pending Approval</h3>
        <p> Statement of Work - Project Team</p>

    </div>


    <!-- Notification 6 -->
    <div class="notification">
        <h3>2/24/24</h3>
        <h3>Pending Approval</h3>
        <p> Product Vision Statement - Project Team</p>

    </div>


    <!-- Notification 6 -->
    <div class="notification">
        <h3>2/24/24</h3>
        <h3>Pending Approval</h3>
        <p> Interview Quest. - Project Team</p>

    </div>





</div>